requests
pyttsx3
SpeechRecognition
python-decouple
wikipedia-api
pywhatkit
pyaudio
pyautogui
setuptools
speedtest-cli
scikit-learn
textblob
g4f
curl_cffi
sumy
psutil
nltk
pymupdf
dateparser
customtkinter
language_tool_python
#java too needed
wheel
 happytransformer
 torch
 transformers